html{
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, rgb(103, 12, 109) 18%, rgb(12, 227, 141) 100%, rgb(253, 2, 2) 47%) no-repeat;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    height: inherit;
}
<<<<<<< Updated upstream
a, h1, p{color: #181111; transition: all 0.5s;}
a, p{font-size: 18px;}
a:hover{color: #570542; transition: all 0.5s;}
ul{
    list-style-type: disclosure-open;
}
=======
>>>>>>> Stashed changes
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main_content div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
<<<<<<< Updated upstream
    background: rgba(73, 72, 72, 0.651);
    border-radius: 25px;
}
.exile{display: flex; gap: 10px;}
.main_content_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
a{
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
}
.exile a{
    color: rgb(158, 8, 138);
=======
    background: rgba(73, 72, 72, 0.308);
    border-radius: 25px;
}
.exile{display: flex; gap: 10px;}
.exile a{
>>>>>>> Stashed changes
    width: 150px;
    padding: 10px 15px 10px 15px;
    background: rgb(75, 12, 72);
    border-radius: 25px;
<<<<<<< Updated upstream
=======
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    color: rgb(158, 8, 138);
>>>>>>> Stashed changes
    transition: all 0.5s cubic-bezier(1,-1.53,.52,1.53);
}
.exile a:hover{
    transition: all 1s cubic-bezier(1,-1.53,.52,1.53);
    transform: translate(0, -5px) scale(1.1);
<<<<<<< Updated upstream
}
button{
    margin-top: 10px;
    border: none;
    color: rgb(158, 8, 138);
    padding: 10px 15px 10px 15px;
    background: rgb(75, 12, 72);
    border-radius: 25px;
    transition: all 0.5s cubic-bezier(1,-1.53,.52,1.53);
}
.but{
    background: rgb(75, 12, 72);
    border-radius: 25px;
    color: aliceblue;
}
form div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: rgba(73, 72, 72, 0.651);
    border-radius: 25px;
}
.list_file{
    margin-top: 10px;
    gap: 10px;
    padding: 20px;
    background: rgba(73, 72, 72, 0.651);
    border-radius: 25px;
}
=======
}
>>>>>>> Stashed changes
